/* estilos universales */
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/Img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainTitle{
    display: flex;
    background-image: url(/Img/bgblack.jpg);
    color: white;
    height: 75px;
    align-items: center;
    justify-content: center;
}

header{
    background-image: rgb(235,221,193) ;
}

#contacto{
    padding: 15px;
}

.tituloContacto{
    display: flex;
    justify-content: center;
}

.textoContacto{
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

/* estilos index */

.barraBusqueda{
    background-color: rgb(117,133,117);
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px solid black;
}

.selectIndex{
    padding: 15px;
    color: white;
}

.inputCantidad{

    margin: 13px;
    width: 200px;
}

.contenedorCarrusel{
    display: flex;
    justify-content: center;
    padding: 50px;
}

/* estilos pagina seleccion */

.mainGrid{
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#tarifario{
    display: flex;
    background-color: rgb(235,221,193);
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
}

#tarifario p{
    display: flex;
    align-items: center;
    margin: 0px;
}

#tarifario h4{
    display: flex;
    align-items: center;
    margin: 0px;
}

.caracteristicas{
    padding: 50px;
}

.caracteristicas h1{
    padding: 25px;
    display: flex;
    justify-content: center;
}

.cartasDeClases{
    display: flex;
    justify-content: space-around;
} 

.cantidadSelect{
    display: flex;
    justify-content: center;
    padding: 25px;
}

.selectCategoria{
    display: flex;
    justify-content: center;
    padding: 25px;
}

.inputCantidadSeleccion{

    margin: 20px;
    width: 200px;
}

.btnAgregar{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.btnAgregarSeguro{
    display: flex;
    margin: 10px;
    padding: 20px 0px 20px;
}

.seguro{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.selectSeguro{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px 0px 20px;
}

.carrito{
    border: 5px solid black;
    display: grid;
    grid-template-rows: 1fr 0.5fr 12fr 1fr;
    margin: 30px 30px 0px 0px;
}

.tituloCarrito{
    display: flex;
    background-color: rgb(235,221,193);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.leyenda{
    display: flex;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.leyenda p{
    margin: 0px;
}

#carroProductos tr{
    display: flex;
    justify-content: space-around;
}

#total{
    display: flex;
    justify-content: space-around;
}

.btnCarrito{
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

#btnCarro{
    width: 40px;
    height: 40px;
}

img{
    object-fit: cover;
    width:100%;
    height:100%;
    overflow: hidden;
  }

  